{% extends "base.html" %}

{% block content %}

<div class="text-center">

    <h1 class="mb-4">📖 ჩვენ შესახებ</h1>

    <p class="lead">
        BookSwap & Buy არის პლატფორმა, რომელიც აერთიანებს
        წიგნის მოყვარულ ადამიანებს.
    </p>

    <p>
        ჩვენი მიზანია მეორადი წიგნების ყიდვა, გაყიდვა
        და გაცვლა ერთ უსაფრთხო სივრცეში.
    </p>

    <hr class="my-5">

    <h2 class="text-center mb-4">📞 კონტაქტი</h2>

    <div class="card shadow p-4">

    <p><strong>📧 ელფოსტა:</strong> bookswap@gmail.com</p>

    <p><strong>📱 ტელეფონი:</strong> +995 599 53 20 70</p>

    <p><strong>📍 მისამართი:</strong> თბილისი, საქართველო</p>

</div>

</div>

{% endblock %}